div(ng-controller='AcmiFilterController as vm')
    h3 Filters
    form
        div.form-group
            input#title.form-control(type='text' placeholder='Title' ng-model='vm.title'
                ng-change='vm.applyFilters()')
        div.form-group
            tags-input(ng-model='vm.tags' placeholder='Tags' on-tag-added='vm.applyFilters()'
                on-tag-removed='vm.applyFilters()')
                auto-complete(source='vm.loadTags($query)' min-length=1)
        div.form-group
            tags-input(ng-model='vm.pilots' placeholder='Pilots' add-from-autocomplete-only='true'
                on-tag-added='vm.applyFilters()' on-tag-removed='vm.applyFilters()')
                auto-complete(source="vm.loadPilots($query)" min-length=2)
        div.form-group
            select#theater.form-control(ng-model='vm.theater' ng-change='vm.applyFilters()'
                ng-options='theater.value as theater.name for theater in vm.theaters')
        div.form-group
            select#mission-type.form-control(ng-model='vm.missionType' ng-change='vm.applyFilters()'
                ng-options='type.value as type.name for type in vm.missionTypes')
    div.well
        h5 Popular Tags
        span
            | {{ vm.popularTags.join(', ') }}
