div
    loading-panel(loading='uploadAcmi.loading')
        form.form(name='uploadForm')
            div.container-fluid
                div.row
                    div.form-group.col-sm-9(link-errors)
                        label(for='title') Title
                        input#title.form-control(type='text' name='title' ng-model='uploadAcmi.acmi.title'
                        ng-disabled='uploadAcmi.uploading' ng-required="true" ng-minlength=3 ng-maxlength=128)
                    div.form-group.col-sm-3(link-errors)
                        label(for='mission-type') Mission Type
                        select#mission-type.form-control(ng-model='uploadAcmi.acmi.missionType'
                            ng-options='type.value as type.name for type in uploadAcmi.missionTypes')
                div.row
                    div.form-group.col-sm-6
                        label(for='file') File
                        input#file.form-control(type='file' ng-model='uploadAcmi.file' name='file'
                            ngf-select accept='.acmi' ng-required='true' ng-disabled='uploadAcmi.uploading')
                    div.form-group.col-sm-6
                        label(for='mission-type') Theater
                        select#theater.form-control(ng-model='uploadAcmi.acmi.theater'
                            ng-options='theater.name as theater.name for theater in uploadAcmi.theaters')
                div.row
                    div.form-group.col-sm-6
                        label(for='tags') Tags
                        tags-input#tags(ng-model='uploadAcmi.acmi.tags' placeholder='Tags'
                            ng-disabled='uploadAcmi.uploading' ng-required='true')
                            auto-complete(source='uploadAcmi.loadTags($query)' min-length=1)
                    div.form-group.col-sm-6
                        label(for='pilots') Pilots
                        tags-input#pilots(ng-model='uploadAcmi.acmi.pilots' placeholder='Pilots'
                            add-from-autocomplete-only='true' ng-disabled='uploadAcmi.uploading' ng-required='true')
                            auto-complete(source="uploadAcmi.loadPilots($query)" min-length=2)
                div.row
                    div.form-group.col-sm-12(link-errors)
                        label(for='video') YouTube Video
                        input#video.form-control(type='text' name='video' ng-model='uploadAcmi.acmi.videoUrl',
                            ng-disabled='uploadAcmi.uploading' ng-max-length=512 ng-required='false')
                div.row
                    div.form-group.col-sm-12(link-errors)
                        label(for='details') Details
                        textarea#details.form-control(name='details' ng-model='uploadAcmi.acmi.details'
                            ng-disabled='uploadAcmi.uploading' ng-maxlength=2048 ng-required='true')
                div.row
                    div.col-sm-12
                        button.btn.btn-success(type='submit' ng-click='uploadAcmi.uploadAcmi()'
                            ng-disabled='uploadAcmi.uploading || uploadForm.$invalid') Upload
        div.well(ng-hide='!uploadAcmi.uploading')
            h5 Uploading ACMI...
            uib-progressbar(animate='false' value='uploadAcmi.uploadProgress')
